* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

// Variables
$color-primary: #24a3a5;
$color-secondary: #eaeaea;
$px: 10%;
$px-sm: 16px;

// Navbar
.navbar {
  width: 100%;
  height: 80px;
  padding: 0 $px;
  margin-bottom: 30px;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  color: $color-secondary;
}

// Search Form
.search-form {
  padding: 20px;
  margin: 0 $px 30px $px;
  border-radius: 6px;
  background-color: $color-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .input-group {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      font-size: 13px;
      margin-bottom: 6px;
    }

    input,
    select,
    button {
      width: 100%;
      height: 40px;
      border-radius: 6px;
      border: none;
      outline: none;
    }

    input {
      padding-left: 6px;
    }
  }

  .input-group.btn {
    label {
      color: transparent;
    }

    button {
      background-color: $color-primary;
      color: $color-secondary;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    button:hover {
      background-color: darken($color-primary, 5);
    }
  }
}

// Character List {
.character-list {
  padding: 0 $px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
}

.character-item {
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-radius: 12px;

  .img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);

    img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }

  .info {
    width: 100%;
    font-size: 14px;

    p {
      margin-bottom: 6px;
    }
  }
}

// Loading
.loading {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  .gun-container {
    width: 200px;
    height: 150px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .beam-container {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;

    .beam {
      width: 0;
      height: 12px;
      background-color: #50bf5a;
      border-radius: 6px;
      animation: beam 0.5s infinite;
    }
  }
}

// Animation
@keyframes beam {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

// Media Queries
@media (max-width: 1024px) {
  // Character List {
  .character-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  // Navbar
  .navbar {
    padding: 0 $px-sm;
  }

  // Search Form
  .search-form {
    padding: 12px;
    margin: 0 $px-sm 30px $px-sm;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    .input-group {
      flex-direction: row;

      label {
        width: 60px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }
    }

    .input-group.btn {
      label {
        width: 0;
      }
    }
  }

  // Character List {
  .character-list {
    padding: 0 $px-sm;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  // Character List {
  .character-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
