* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

// Variables
$color-primary: #24a3a5;
$color-secondary: #eaeaea;
$navbar-height: 100px;
$px: 10%;
$px-sm: 16px;

// Navbar
.navbar {
  width: 100%;
  height: $navbar-height;
  padding: 0 $px;
  margin-bottom: 30px;
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 60%;
    display: flex;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    color: $color-secondary;

    img {
      height: 100%;
      margin-right: 10px;
    }
  }
}

// Search Form
.search-form {
  padding: 20px;
  margin: 0 $px 30px $px;
  border-radius: 6px;
  background-color: $color-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .input-group {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      font-size: 13px;
      margin-bottom: 6px;
    }

    input,
    select,
    button {
      width: 100%;
      height: 40px;
      border-radius: 6px;
      border: none;
      outline: none;
    }

    input {
      padding-left: 6px;
    }
  }

  .input-group.btn {
    label {
      color: transparent;
    }

    button {
      background-color: $color-primary;
      color: $color-secondary;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    button:hover {
      background-color: darken($color-primary, 5);
    }
  }
}

// Character List {
.character-list {
  padding: 0 $px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
}

.character-item {
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
  transition: background-color 0.3s;

  a {
    width: 100%;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: #000;
    transition: color 0.2s;
  }

  .img-container {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;

    .img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      transition: transform 0.4s;
    }
  }

  .info {
    width: 100%;
    font-size: 14px;

    p {
      margin-bottom: 6px;
    }
  }
}

.character-item:hover {
  background-color: $color-primary;

  a {
    color: $color-secondary;
  }

  .img-container .img {
    transform: scale(1.1);
  }
}

// Loading
.loading {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  .gun-container {
    width: 200px;
    height: 150px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .beam-container {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;

    .beam {
      width: 0;
      height: 12px;
      background-color: #50bf5a;
      border-radius: 6px;
      animation: beam 0.5s infinite;
    }
  }
}

// Character Detail Page
.character-detail-page {
  padding: 0 $px;

  .detail-title {
    margin: 30px 0;

    span {
      color: $color-primary;
    }
  }
}

.character-container {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3vw;

  .img-container {
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);

    .img {
      width: 100%;
      height: 320px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: scroll;
      transition: transform 0.5s;
    }
  }

  .img-container:hover .img {
    transform: scale(1.3);
  }

  .info {
    .detail-list li {
      font-size: 22px;
      padding: 10px 6px;

      span {
        font-weight: bold;
        color: $color-primary;
      }

      &:nth-child(even) {
        background-color: $color-secondary;
      }
    }
  }
}

.back-link {
  display: inline-block;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  background-color: $color-secondary;
  color: darken($color-secondary, 36);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.back-link::before {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  left: 20px;
  width: 0;
  height: 0;
  border-right: 10px solid darken($color-secondary, 30);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: left 0.3s;
}

.back-link:hover::before {
  left: 14px;
}

// Animation
@keyframes beam {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

// Media Queries
@media (max-width: 1024px) {
  // Character List {
  .character-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  // Navbar
  .navbar {
    padding: 0 $px-sm;
  }

  // Search Form
  .search-form {
    padding: 12px;
    margin: 0 $px-sm 30px $px-sm;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    .input-group {
      flex-direction: row;

      label {
        width: 60px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }
    }

    .input-group.btn {
      label {
        width: 0;
      }
    }
  }

  // Character List {
  .character-list {
    padding: 0 $px-sm;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  // Character List {
  .character-list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
